html ,body {
  background: #5bc0eb;
  color: #000;
  font-family: monospace;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: block;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
  min-width: 300px;
  max-width: 500px;
  width: 100vw;
}

#form {
  background: #ddd389;
  color: #000;
  height: 100vh;
  margin: 10px auto;
  max-width: 500px;
  min-width: 300px;
  padding: 0;
  text-align: left;
  width: 100vw;
}

#form fieldset {
  margin: 10px 20px 10px 20px;
}
}

#form label {
  display: block;
  margin: 10px auto 10px 20px;
  width: 200px;
}

#form input, select {
  margin: 10px auto 10px 20px;
  width: 200px;
}

#form button {
  background: #fff;
  border-radius: 5px;
  color: #000;
  margin: 10px auto;
}

#tip-info {
  background: #fff;
  border: .5px solid black;
  color: #000;
  height: initial;
  margin: 10px auto;
  max-width: 500px;
  padding: 0;
  width: 100vw;
}

#tip-info > p {
  padding-left: 20px;
}
